body
{
	background-image: url("https://i.pinimg.com/originals/95/39/9c/95399c928e26bd0ae9821112c3751f05.jpg");

	background-size: 100%;
	background-color:red;
	color:red
}

.a
{
	font-size: 25px;
	color: white;
}
.a:hover
{
	color: #D4AC0D ;
}
.h
{
	color:red ;
	font-size: 40px;
	text-align: center;
}
ul#list li 
{
	display: inline;
}
div#p div
{
	display: inline-block;
}

.ps
{
	color: white;
	font-size: 25px;
}
.f
{
	background-color: white;
	color:#D4AC0D ;
	text-align: right;
	font-size: 20px;
	opacity: 0.6;
}

.f:hover
{
	background-color:#D4AC0D ;
	color: white;
	opacity: 1;
}


.fa {
  padding: 15px;
  font-size: 15px;
  width: 30px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.fa-instagram {
  background: #781F74;
  color: white;
}

